 body{
               margin: 0%;
          }
          .nav1{
               background-color: black;
               height: 40px;
          }
          .nav2{
               height: 80px;
               align-content: center;
          }
          .active,ul{
               display: flex;
               font-size: 15px;
               font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
               gap: 5px;
               cursor: pointer;
          }
          .active:hover{
               color: red;
               transition-duration: 0.3s;
          }
          .logo{
               height: 50px;
               width: 70px;
               position: absolute;
               left: 50%;
          }
          .container1{
               background-image: url(clothing-img/view-hawaiian-shirt-with-floral-print-hanger.jpg);
               height: 550px;
               background-size: cover;
               text-align: center;
               padding: 30px;
          }
          h2{
               font-weight: 60;
               font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
               color: rgb(93, 70, 39);
          }
          #shopnowbtn{
               padding: 15px;
               width: 250px;
               background-color: black;
               color: aliceblue;
               font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
               font-size: 15px;
               margin-top: 50px;
          }
          .container2{
               display: flex;
               justify-content: space-evenly;
          }
          .subcontainer2{
               height: 600px;
               width: 550px;
               background-image: url(clothing-img/img1.png);
               background-size: cover;
               box-shadow: 0 0 10px;
          }
          .subcontainer3{
               height: 600px;
               width: 550px;
               background-image: url(clothing-img/img2.png);
               background-size: cover;
               box-shadow: 0 0 10px;
          }
          h3{
               font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
               font-weight: 50;
          }
          .carddetails1{
               width: 250px;
               color: white;
               font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
               position: relative;
               left: 20px;
               top: 30px;
          }
          li{
               padding: 15px;
          }
          .btn{
               padding: 15px;
               position: relative;
               left: 30px;
               top: 20px;
               border-radius: 5px;
               background-color: yellow;
          }
          h5{
               font-weight: 50;
               font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
          .sectionbtn{
               font-size: x-large;
               border-style: none;
               margin: 10px;
               background-color: white;
          }
          .container3{
               text-align: center;
          }
          .topwear{
               display: flex;
               justify-content: space-evenly;
          }
          .topwearcards{
               height: 450px;
               width: 250px;
               box-shadow: 0 0 10px;
          }
          .firstletter{
               color:rgb(215, 148, 60);
               display: inline-block;
          }
          .firstletter::first-letter{
               font-size: 50px;
          }
          h1{
               font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
          .container1details{
               display: flex;
               justify-content: center;
               gap: 80px;
          }
          .det1{
               color:rgb(0, 0, 0);
               font-family:Verdana, Geneva, Tahoma, sans-serif ;
          }
          .shirtimg{
               height: 350px;
               width: 250px;
          }
          .shirtimg1{
               height: 350px;
               width: 250px;
          }
          .topwearcards p{
               font-family: Arial, Helvetica, sans-serif;
               font-size: 12px;
          }
          .container4{
               background-image: url(clothing-img/clothingbc4.jpg);
               height: 500px;
               background-size: cover;
               opacity: 90%;
          }
          .subcontainerof4{
               width: 400px;
               position: relative;
               top: 50px;
               left: 40px;
          }
         
          html{
               scroll-behavior: smooth;
          }
          .container5{
               background-color: black;
          }
          P{
               color: aliceblue;
               font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
          .subcontainer1of5{
               width: 500px;
               color: aliceblue;
               position: relative;
               left:35px;
               top: 20px;
          }
          .stylecard{
               width: 380px;
          }
          .stylecard img{
               height: 480px;
               width: 380px;
          }
          .stylecards{
               display: flex;
               justify-content: space-evenly;
          }