         
          #bc-animate1{
               background-size: cover;
               animation: anime 5s ease infinite;
          }
          @keyframes anime{
               0%{
                    background-image: url(clothing-img/clothBC1.webp);
                    background-size: cover;
               }
               25%{
                    background-image: url(clothing-img/clothBC2.webp);
                    background-size: cover;
               }
               50%{
                    background-image: url(clothing-img/clothBC3.webp);
                    background-size: cover;
               }
               75%{
                    background-image: url(clothing-img/clothBC5.webp);
                    background-size: cover;
               }
               100%{
                    background-image: url(clothing-img/view-hawaiian-shirt-with-floral-print-hanger.webp);
                    background-size: cover;
               }
          }
         
          #bc-animate2{
               height: 500px;
               background-size: cover;
               opacity: 90%;
               animation: imageslider 4s ease infinite;
          }
          @keyframes imageslider {
               0%{
                    background-image: url(clothing-img/clothingbc4.webp);
                    background-size: cover;
               }
               33%{
                    background-image: url(clothing-img/clothBC6.webp);
                    background-size: cover;
               }
               66%{
                    background-image: url(clothing-img/clothBC3.webp);
                    background-size: cover;
               }
               100%{
                    background-image: url(clothing-img/clothBC7.webp);
                    background-size: cover;
               }
          }
         
          #bottomwear{
               display: none;
          }
          .card:hover{
               transform: translateY(-5%);
               transition-duration: 0.5s;
          }
          