         
          #bc-animate1{
               background-size: cover;
               animation: anime 5s ease infinite;
          }
          @keyframes anime{
               0%{
                    background-image: url(clothing-img/clothBC1.jpg);
                    background-size: cover;
               }
               25%{
                    background-image: url(clothing-img/clothBC2.jpg);
                    background-size: cover;
               }
               50%{
                    background-image: url(clothing-img/clothBC3.jpg);
                    background-size: cover;
               }
               75%{
                    background-image: url(clothing-img/clothBC5.jpg);
                    background-size: cover;
               }
               100%{
                    background-image: url(clothing-img/view-hawaiian-shirt-with-floral-print-hanger.jpg);
                    background-size: cover;
               }
          }
         
          #bc-animate2{
               height: 500px;
               background-size: cover;
               opacity: 90%;
               animation: imageslider 4s ease infinite;
          }
          @keyframes imageslider {
               0%{
                    background-image: url(clothing-img/clothingbc4.jpg);
                    background-size: cover;
               }
               33%{
                    background-image: url(clothing-img/clothBC6.jpg);
                    background-size: cover;
               }
               66%{
                    background-image: url(clothing-img/clothBC3.jpg);
                    background-size: cover;
               }
               100%{
                    background-image: url(clothing-img/clothBC7.jpg);
                    background-size: cover;
               }
          }
         
          #bottomwear{
               display: none;
          }